@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>S#arp Architecture Project</h2>
    <h3>What next?</h3>
    <p>
        Your S#arp Architecture project is now setup and ready to go. This release is built on the RTM verion of ASP.NET MVC 3 and .NET 4.
    </p>
    <p>
        If you need direction on what to do next, take a look at the <a href="http://docs.sharparchitecture.net">documentation</a>
        which includes a tutorial for getting started.
    </p>
    <p>
        You can also ask for assitance and guidance on the
        <a href="http://groups.google.com/group/sharp-architecture">S#arp Architecture discussion boards</a>.
    </p>
